@import 'tailwindcss';

/* Preline UI */
@import 'preline/variants.css';
@source "../../node_modules/preline/dist/*.js";
@import '../../node_modules/preline/src/plugins/datepicker/styles.css';

@plugin "@tailwindcss/forms";

@theme {
  --color-blue-500: #3b82f6;
  --color-blue-400: #8ab6ff;
  --color-purple-400: #cfbbff;

  --font-sans: 'Inter', sans-serif;
  --text-custom-sm: 0.8125rem;
  --text-custom-sm--line-height: calc(1.125 / 0.8125);
}

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

.animation-grow {
  animation: grow 0.3s ease-in-out forwards;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
